:root {
  --primary-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --hero-bg-opacity: rgba(47, 48, 58, 0.4);
  --works-thumb-sescr-bg: rgba(47, 48, 58, 0.8);
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --accent-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --social-net-color: #afb1b8;
  --accent-color: #2196f3;
  --opacity-adress-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  --box-shodow-first: rgba(0, 0, 0, 0.12);
  --box-shodow-second: rgba(0, 0, 0, 0.14);
  --box-shodow-third: rgba(0, 0, 0, 0.2);
  --box-shodow-fourth: rgba(0, 0, 0, 0.08);
  --box-shodow-fifth: rgba(0, 0, 0, 0.1);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --portf-thumb-bg-color: rgba(33, 150, 243, 0.9);
  --modal-opacity-bg: rgba(0, 0, 0, 0.2);
  --border-close-btn: rgba(0, 0, 0, 0.1);
  --button-hover: #188ce8;
  --box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --border-input: 1px solid rgba(255, 255, 255, 0.3);
  --border-input-focus: 1px solid #2196f3;
  --border-input-modal: 1px solid rgba(33, 33, 33, 0.2);
  --placeholder-text: rgba(117, 117, 117, 0.5);
}

/* Загальні стилі */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  letter-spacing: inherit;
  list-style: none;
}

.link {
  font-weight: 500;
  text-decoration: none;

  color: var(--primary-text-color);
}

.current {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.item {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.img {
  display: block;
}

.main-button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow-btn);
  transition: border 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier);
}
.main-button:hover,
.main-button:focus {
  background-color: var(--button-hover);
}

.input {
  outline: none;
}

.vertical-centered {
  display: flex;
  align-items: center;
}

/* Модальне вiкно */

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: var(--primary-color);
  border: 1px solid var(--border-close-btn);
  cursor: pointer;
}

.close-btn:hover .close-btn-icon {
  fill: var(--accent-color);
}

.close-btn-icon {
  display: block;
  margin: auto;
  fill: currentColor;
  transition: fill 250ms var(--cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic-bezier);

  width: 528px;
  padding: 40px;

  border-radius: 4px;
  background-color: var(--primary-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-opacity-bg);
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

/* Форма */

.form-title {
  display: block;
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-input {
  padding: 11px 12px 11px 42px;
  border-radius: 4px;
  border: var(--border-input-modal);
  outline: none;
  transition: border 250ms var(--cubic-bezier);
}

.form-input:focus-within {
  border: var(--border-input-focus);
}

.form-input:focus-within + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms var(--cubic-bezier);
}

.comment-field {
  margin-bottom: 0;
}

.textarea {
  padding: 11px 12px;
  border-radius: 4px;
  border: var(--border-input-modal);
  resize: none;
  height: 120px;
  margin-bottom: 20px;
}

.textarea::placeholder {
  color: var(--placeholder-text);
}

.checkbox-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  color: var(--secondary-text-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox:checked ~ .checkbox-cheked {
  opacity: 1;
}

.checkbox-no-cheked {
  display: block;
  width: 16px;
  height: 15px;
  position: absolute;
  left: 0;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.checkbox-cheked {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 250ms var(--cubic-bezier);
}

.checkbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  fill: var(--primary-color);
  border-radius: 2px;
}

.checkbox-link {
  color: var(--accent-color);
}

.form-button {
  display: block;
  margin: 0 auto;
}

/* Логотип */

.header {
  border-bottom: 1px solid var(--border-color-header);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

/* Навігація сайту */

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  line-height: 1.15;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--cubic-bezier);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  color: var(--secondary-text-color);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--cubic-bezier);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Герой */

.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(to right, var(--hero-bg-opacity), var(--hero-bg-opacity)),
    url(../images/bg-hero.jpg);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: var(--primary-color);
}

/* Наші привілеї */

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-list .item:nth-child(4n) {
  margin-right: 0;
}

.features-list .item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--accent-bg-color);
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  display: block;
  padding-top: 10px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* Наші роботи */

.works {
  padding-top: 0;
}
.works .title {
  margin-bottom: 50px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.works-list .item:hover {
  box-shadow: 0px 3px 5px var(--box-shodow-first), 0px 3px 3px var(--box-shodow-second),
    0px 4px 3px var(--box-shodow-third);
  transition: 250ms var(--cubic-bezier);
}

.works-list .item:nth-child(3n) {
  margin-right: 0;
}

.works-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-thumb {
  position: relative;
}

.thumb-descr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--works-thumb-sescr-bg);
}

.thumb-descr .subtitle {
  color: var(--primary-color);
}

/* Наша команда */

.team {
  background-color: var(--accent-bg-color);
}

.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px var(--box-shodow-first), 0px 1px 1px var(--box-shodow-second),
    0px 2px 1px var(--box-shodow-third);

  background-color: var(--primary-color);
}

.team-list .item:nth-child(4n) {
  margin-right: 0;
}

.team-list .item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.team .img {
  margin-bottom: 30px;
}

.team .dscr {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
}
.team-text {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.social-net {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}

.social-net-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-net-item:not(:last-child) {
  margin-right: 10px;
}

.social-net .icon {
  fill: var(--social-net-color);
}

.social-net-item .link:hover,
.social-net-item .link:active {
  background-color: var(--accent-color);
  transition: background-color 250ms var(--cubic-bezier);
}

.social-net-item .link:hover .icon,
.social-net-item .link:active .icon {
  fill: var(--primary-color);
  transition: fill 250ms var(--cubic-bezier);
}

/* Постійні клієнти */

.customers .title {
  margin-bottom: 50px;
}

.customers-list {
  display: inline-flex;
}

.customers-list .item {
  width: 170px;
  height: 92px;
}

.customers-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-net-color);
  border-radius: 4px;
  /* margin-right: 30px; */
}

.customers-list .item:not(:last-child) {
  margin-right: 30px;
}

.customers-list .icon {
  fill: var(--social-net-color);
}

.customers-list .link:hover,
.customers-list .link:active {
  border-color: var(--accent-color);
  transition: border-color 250ms var(--cubic-bezier);
}

.customers-list .link:hover .icon,
customerslist .link:active .icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--cubic-bezier);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.footer a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.footer li {
  font-style: normal;
  list-style: none;
}

.adress-wrap {
  margin-right: 86px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color);
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .link {
  font-weight: normal;
  color: var(--opacity-adress-color);
}

.adress-list .link:hover {
  color: var(--accent-color);
  transition: color 250ms var(--cubic-bezier);
}

.soc-list-footer .link:hover .footer-icon,
.soc-list-footer .link:focus .footer-icon {
  background-color: var(--accent-color);
  transition: background-color 250ms var(--cubic-bezier);
}

.join-wrap {
  margin-right: auto;
}

.soc-list-footer {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}

.soc-list-footer .icon {
  fill: var(--primary-color);
}

.footer-icon {
  background-color: var(--footer-icon-bg);
}

.footer-form {
  display: flex;
}

.input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  border-radius: 4px;
  border: var(--border-input);
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color);
  background-color: transparent;
}

.send-icon {
  margin-left: 10px;
  fill: var(--primary-color);
}

.footer-button {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 0 29px;
}

/* Портфоліо */

.portf-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portf-btn .item:not(:last-child) {
  margin-right: 8px;
}

.portf-btn .link {
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--accent-bg-color);
  color: var(--primary-text-color);
  border: 1px solid transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  background-color: var(--accent-bg-color);
}

.portf-btn .link:hover,
.portf-btn .link:focus,
.portf-btn .link:visited {
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px var(--box-shodow-fifth), 0px 1px 2px var(--box-shodow-fourth),
    0px 2px 2px var(--box-shodow-first);
  transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}

.portf-list {
  display: flex;
  flex-wrap: wrap;
}

.portf-list .item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portf-list .link {
  display: block;
}

.portf-list .item:nth-child(3n) {
  margin-right: 0;
}

.portf-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portf-list .item:hover {
  box-shadow: 0px 3px 5px var(--box-shodow-first), 0px 3px 3px var(--box-shodow-second),
    0px 4px 3px var(--box-shodow-third);
  transition: box-shadow 250ms var(--cubic-bezier);
}

.portf-descr {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.portf-list .title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;

  color: var(--primary-text-color);
}

.descr-text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-text-color);
}

.portf-thumb {
  position: relative;
  overflow: hidden;
}

.portf-thumb-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  position: absolute;
  transform: translateY(100%);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  background-color: var(--portf-thumb-bg-color);
  color: var(--primary-color);
}

.portf-list .item:hover .portf-thumb-text {
  transform: translateY(0);
  transition: transform 250ms var(--cubic-bezier);
}
