.address-list {
  @extend %list;

  @media screen and (max-width: 767.98px) {
    & {
      margin-bottom: 60px;
    }
  }

  &__item {
  font-style: normal;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

&__link {
  @extend %link;

  font-weight: normal;
  color: var(--opacity-adress-color);

  &:hover {
    color: var(--accent-color);
    transition: color 250ms var(--cubic-bezier);
  }
}

}