.customers-list {
  @extend %list;
  // display: inline-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    & {
      margin: -15px;
    }
  }
}

.customers-list__item {
  //
  // height: 92px;

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  // @media screen and (max-width: 479px) {
  //   &:not(:last-child) {
  //     margin-bottom: 30px;
  //   }
  // }
  @media screen and (max-width: 767px) {
    & {
      width: calc((100% - 1 * 60px) / 2);
      margin: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      width: calc((100% - 2 * 90px) / 3);
      margin: 15px;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: calc((100% - 180px) / 6);
    }
  }
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 0;
  border: 1px solid var(--social-net-color);
  border-radius: 4px;

  &:hover,
  &:active {
    border-color: var(--accent-color);
    transition: border-color 250ms var(--cubic-bezier);
  }

  &:hover .customers-list__icon,
  &:active .customers-list__icon {
    fill: var(--accent-color);
    transition: fill 250ms var(--cubic-bezier);
  }
}

.customers-list__icon {
  fill: var(--social-net-color);
}
