.join {
  @media screen and (max-width: 767.98px) {
    & {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin-right: 86px;
    }
  }

  &__title {
    @extend %subtitle;

    margin-bottom: 20px;
    color: var(--primary-color);
  }
}
