.social-net {
  @extend %list;

  display: flex;
  justify-content: center;
  padding: 0;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    @extend %link;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms var(--cubic-bezier);

    &:hover,
    &:active {
      background-color: var(--accent-color);
    }
    &:hover &__icon,
    &:active &__icon {
      fill: var(--primary-color);
    }
  }

  &__link--footer {
    background-color: var(--footer-icon-bg);
  }

  &__icon {
    fill: var(--social-net-color);
    transition: fill 250ms var(--cubic-bezier);
  }

  &__icon--footer {
    fill: var(--primary-color);
  }
}
